body {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

.tabs {
    width: 100%;
    margin: 0px;
    background-color: #FFF;
    /*border: 1px solid #C0DCC0;1px solid rgb(162, 151, 132)*/
    box-sizing: border-box;
}

.tabs nav {
    height: 60px;
    /*text-align: center;*/
    line-height: 20px;
    overflow: hidden;
    /* 伸缩盒模型 */
    display: flex;
    margin-top: 20px;
    align-items: center;
}

nav a {
    display: block;
    width: 50%;
    color: #000;
    text-decoration: none;
    border-bottom: 3px solid #f1baa0;
}

nav a:last-child {
    border-right: none;
}

nav a.active {
    /*background-color: rgb(216, 196, 133);*/
    font-weight: bold;
    border-bottom: 3px solid #ec6a2e;
}

.cont {
    overflow: hidden;
    display: none;
}

.cont ol {
    line-height: 30px;
}